:root {
    --primary: #ffd500;
    --secondary: #000000;
    --secondary-shadow: rgb(255, 251, 177);
    --slate: #fefccb;
    --light-slate: #ffffff;
    --lightest-slate: #ffffff;
    --white: #ffffff;
}